/* #page-container {
    position: relative;
    min-height: 100vh;
  }
  
   #content-wrap {
    padding-bottom: 2.5rem;    // Footer height 
  }
  
  #footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;    
    background-color: black;        
  } */

body {
    height: 1500px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/indexImage.jpg");
    height: 400px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    background-color: rgb(2, 95, 2);
    height: 50px;
}

li {
    float: left;
    padding: 16px;
}

.divClass {
    padding-left: 615px;
    margin: auto;
}

.divHeader {
    padding-left: 655px;
}

.jsAppend {
    padding-left: 150px;
    width: 750px;
}

select {
    width: 300px;
}

section {
    margin-bottom: 100px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.footer {
    background-color: rgb(35, 34, 34);
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}